
body {
  margin: 24px;
  height: 400px;
  width: 270px;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}
#hours {
  width: 50px;
}
#minutes {
  width: 50px;
}
#seconds {
  width: 50px;
}

/* Circle timer countdown */
.base-timer {
  position: relative;
  width: 250px;
  height: 250px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}


/* Buttons */
.space {
  height: 30px;

}
.small_space {
  height: 5px;
}

#play {
  height: 30px;
  width: 80px;
}

#pause {
  height: 30px;
  width: 80px;
}

#reset {
  height: 30px;
  width: 80px;
}